.playlist-container {
    margin: 30px auto;
    max-width: 400px;
}

.text-container {
    margin: 30px auto;
    max-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #282828;
    border-radius: 10px;
}

.text-container p {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial;
    font-style: bold;
}

.title {
    color: white;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;

}

.title img {
    height: 18px;
}

.subtitle {
    font-size: medium;
    color: #8f8f8f;
    margin: 0;
}

body {
    background-image: url("../img/beach.jpg");
    background-position: center;
}